body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 600px;
  height: 700px;
  border: 2px solid #fff;
}

canvas {
  width: 100%; 
  height: auto;
}
